@font-face {
                        font-family: 'nexa-bold';
                        src: url('nexa-bold.eot');
                        src: url('nexa-bold.eot?#iefix') format('embedded-opentype'),
                            url('nexa-bold.woff2') format('woff2'),
                            url('nexa-bold.woff') format('woff'),
                            url('nexa-bold.svg#nexa-bold') format('svg');
                        font-weight: normal;
                        font-style: normal;
                    }